td, tr, table, th
{
    padding: 10px;
    border: 2px solid blue;
}
.flex {max-width: 100%}

div,h1,form,p,table,td,tr,th{
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.border_radius 
{ border-radius: 10px 10px 10px 10px; }